@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: relative;
  background-image: url('../images/header.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 1280px;
  padding-top: 67px;
}
.header-bottom {
  background-image: url('../images/header-bottom.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 8px;
  width: 720px;
  height: 720px;
  position: relative;
}
.customers {
  height: 1280px;
}
.customers-right{
    width: 640px;
    height: 640px;
    background-image: url('../images/c-right.png');
}
.modal {
  width: 800px;
  height: 640px;
  background-image: url('../images/bg-modal.jpg');
  background-position: center;
  background-size: contain;
  top: 320px;
  right: 320px;
}
.plus {
  top: 292px;
  right: 292px;
  box-shadow: 5px 10px 20px white;
}
.vertical-text {
  font-weight: bold;
  position: absolute;
  top: 990px;
  right: 457px;
  transform: rotate(-90deg);
}
.experties{
    top: -8px;
    height: 1280px;

}
.experties-box{
    width: 1280px;
    height: 720px;
    box-shadow: 0px 0px 60px rgb(155, 153, 153);
}
.design-content{
    height: 1280px;
    background: #0F1120;
    background-image: url('../images/background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
